.wrapper{
    max-width: 600px;
    margin: 0 auto;
    padding:40px;
    

}
.wrapper h1{
    color: orange;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    
    
}
section{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    
    
}
section h4{
    font-weight: lighter;
    font-weight:normal;
    
}
#Name{
    font-weight: bolder;
    text-decoration: underline;
    
    
}